<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biao.shop.common.dao.ShopItemDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.biao.shop.common.entity.ShopItemEntity">
        <id column="id_item" property="idItem" />
        <result column="uuid" property="uuid" />
        <result column="category" property="category" />
        <result column="classification" property="classification" />
        <result column="name" property="name" />
        <result column="sell_price" property="sellPrice" />
        <result column="purchase_price" property="purchasePrice" />
        <result column="brand" property="brand" />
        <result column="specification" property="specification" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_item, uuid, category,classification, name, sell_price, purchase_price, brand, specification
    </sql>

</mapper>
