<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biao.shop.common.dao.ShopItemDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.biao.shop.common.entity.ShopItemEntity">
        <id column="id_item" property="idItem" />
        <result column="item_uuid" property="itemUuid" />
        <result column="category" property="category" />
        <result column="classification" property="classification" />
        <result column="item_name" property="itemName" />
        <result column="sell_price" property="sellPrice" />
        <result column="purchase_price" property="purchasePrice" />
        <result column="brand_name" property="brandName" />
        <result column="specification" property="specification" />
        <result column="description" property="description" />
        <result column="is_shipment" property="shipment" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_item, item_uuid, category,classification, item_name, sell_price, purchase_price, brandName, specification,description,is_shipment
    </sql>

</mapper>
