<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biao.shop.common.dao.ShopOrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.biao.shop.common.entity.ShopOrderEntity">
        <id column="id_order" property="idOrder" />
        <result column="order_uuid" property="orderUuid" />
        <result column="client_uuid" property="clientUuid" />
        <result column="generate_date" property="generateDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="is_paid" property="paidStatus" />
        <result column="order_remark" property="orderRemark" />
        <result column="amount" property="amount" />
        <result column="capital_amount" property="capitalAmount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_order, uuid, client_uuid, generate_date, modify_date,is_paid,order_remark,amount,capital_amount
    </sql>

</mapper>
