<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biao.shop.common.dao.ShopStockDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.biao.shop.common.entity.ShopStockEntity">
        <id column="id_stock" property="idStock" />
        <result column="item_uuid" property="itemUuid" />
        <result column="quantity" property="quantity" />
        <result column="quantity_locked" property="quantityLocked" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_stock, item_uuid, quantity, quantity_locked
    </sql>

</mapper>
