<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biao.shop.common.dao.ShopClientDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.biao.shop.common.entity.ShopClientEntity">
        <id column="id_client" property="idClient" />
        <result column="client_uuid" property="clientUuid" />
        <result column="client_name" property="clientName" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
        <result column="vehicle_plate" property="vehiclePlate" />
        <result column="vehicle_series" property="vehicleSeries" />
        <result column="phone" property="phone" />
        <result column="addr" property="addr" />
        <result column="point" property="point" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_client, client_uuid, client_name, age, gender,vehicle_series, vehicle_plate, phone, addr,point
    </sql>

</mapper>
