<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biao.shop.common.dao.SystemUserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.biao.shop.common.entity.SystemUserEntity">
        <id column="user_uuid" property="userUuid" />
        <result column="user_name" property="userName" />
        <result column="user_passwd" property="userPasswd" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_uuid, user_name, user_passwd
    </sql>

</mapper>
